html, body{
	padding:0;
	margin:0;
	font-family:Roboto, sans;
	font-size:10pt;
}

h1, h2, h3 {
	padding:0;
	margin:0 0 10px 0;
	font-family:Roboto, sans;
	font-style:normal;
	font-weight:900;	
}

h1 {
	font-size:18pt;
}

h2 {
	font-size:12pt;	
}

hr {
	margin:30px 0;
	border:0 none;
	height:1px;
	background-color:white;
	opacity:0.5;
}

a, a:visited {
	color:white;
}

tr, td {
	margin:0;
	padding:0;
}

canvas {
	margin:0;
	padding:0;
}

#canvas-wrapper {
	margin:20px 0;
}

button {
	border:1px #3BC43D solid;
	width:80px;
	color:white;
	font-weight:bold;
	background-color:#3BC43D;
	padding:5px;
	float:right;
}

button:hover {
	background-color:purple;
}

input[type="text"] {
	padding:5px;
	width:230px;
	border:1px white solid;
	background-color:#366DBA;
	color:white;
}

.tooltip {
	position:absolute;
	background-color:#EBE9AE;
	padding:3px;
	border:1px solid black;
	border-radius:4px;
	color:black;
	box-shadow: 4px 4px 10px black;
	z-index:10000;
	opacity:0;
}
.map {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:400px;
}

.station-marker {
	border:1px solid black;
	border-radius:5px 5px 5px 0;
	height:10px;
	width:10px;
	background-color:#366DBA;
}
.station-name {
	position:absolute;
	width:auto;
	opacity:0.0;
	pointer-events:none;
	white-space:nowrap;
	margin:0;
	padding:4px 8px;
	color:white;
	font-family:sans;
	font-weight:bold;
	font-size:12px;
}

#info {
	position:absolute;
	right:0;
	bottom:0;
	top:0;
	width:340px;
	background-color:#366DBA;
	z-index:1000;
	padding:30px;
	overflow-y:auto;
	color:white;
	box-shadow: 0 0 10px black;
}

#info table {
	width:100%;
	border-spacing:0;
	padding:0;
	margin:0;
}

#info table td {
	padding:2px 0;
}

.cell {
	font-weight:bold;
}

#graph {
	padding:0;
}

#graph span {
	font-style:italic;
	text-align:center;
	font-size:10pt;
	display:block;
}

.clock {
	position:absolute;
	top:10px;
	left:70px;
	width:35px;
	height:35px;
	z-index:2000;
	padding:0;
	margin:0;
	opacity:0;
}

#search-results {
	height:200px;
	margin-top:10px;
	background-color:#fff;
	padding:0;
	overflow-y:scroll;
}

.search-result {
	padding:5px 10px;
	margin:0;
	display:block;
	background-color:#eee;
	margin-bottom:1px;
	text-decoration:none;
	color:black;
}
.search-result:hover {
	text-decoration:underline;
}